@{
}
<!DOCTYPE html>
<style></style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <title>Callback</title>
</head>
<body>
    <h3>Welcome to the Farmbeats Integrated JohnDeere APIs example</h3><br/>
    @if (ViewBag.Status.status == "success")
    {
        <div>
            <div>
                <h4>Successfully completed the OAuth flow!</h4>
                <p><strong>State:</strong> <span class="token">@ViewBag.Status.state</span> </p>
                <p><strong>Status:</strong> <span class="token">@ViewBag.Status.status</span> </p>
            </div>
        </div>
    }
    @if (ViewBag.Status.status == "error")
    {
        <div>
            <h4>Failted to complete the OAuth flow!</h4>
            <p><strong>State:</strong> <span class="token">@ViewBag.Status.state</span> </p>
            <p><strong>Status:</strong> <span class="token">@ViewBag.Status.status</span></p>
            <p><strong>Error Code:</strong> <span class="token">@ViewBag.Status.errorcode</span> </p>
            <p><strong>Error message:</strong> <span class="token">@ViewBag.Status.message</span> </p>
        </div>
    }
</body>
</html>
